<.flash_group flash={@flash} />
<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    <h1 class="text-brand mt-10 flex items-center text-sm font-semibold leading-6">
      WebdslPlug
      <small class="bg-brand/5 text-[0.8125rem] ml-3 rounded-full px-2 font-medium leading-6">
        v<%= Application.spec(:webdsl_plug, :vsn) %>
      </small>
    </h1>
    <p class="text-zinc-700 mt-4 text-[2rem] font-semibold leading-10 tracking-tighter">
      Welcome to Phoenix!
    </p>
    <p class="mt-4 text-base leading-7 text-zinc-600">
      Build rich, interactive web applications quickly, with less code and fewer moving parts.
    </p>
  </div>
</div>
